body {  
  background-image: linear-gradient(to bottom, #f7f7f7, #f9f9f9, #fbfbfb, #fdfdfd, #ffffff);
}
/* Logotipo */
.logo {
  width: 7rem;
}

/* Sección Home */
.section-home {
  box-sizing: border-box;
  height: auto !important;
  overflow-x: hidden;
  width: 100vh;
}
.section-home__isotipo {
  width: 9rem;
}
.section-home__title {
  font-family: 'Open Sans', sans-serif;
}
.section-home__subtitle {
  font-family: 'Montserrat', sans-serif;
}
.section-home__txt {
  font-family: 'Montserrat', sans-serif;
}
.section-home__btn {
  background-color: #fcbe00;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  outline: none;
}
.section-home__btn:hover {
  background: #ff9c08;
  color: #fff;
}
/* /Sección Home */

/* Section Talent */
/* .section-talent {
  
} */
.section-talent__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.7rem;
}

@media (max-width: 425px) {
  /* Logotipo */
.logo {
  padding-top: 1rem;
  width: 4rem;
}
  /* Sección Home */
.section-home {
  width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
}
.section-home__isotipo {
  width: 5rem;
}
.section-home__title {
  font-size: 1.5rem;
}
.section-home__subtitle {
  font-size: .8rem;
}
.section-home__txt {
  font-size: 1.2rem;
  padding-top: 0 !important;
}
/* /Sección Home */
}